html
  head
    title Text prototype
    include ../dist/header.incl
    style.
      body {
        background: #ff0000;
        color: #ffffff;
      }
      #text-container {
        position: absolute;
        height: 100vh;
        width: 100vw;
      }
      #text {
        color: transparent;  /* Old browsers don't go transparent. */
        font-size: 50px;
        text-shadow: 0 0 0 #000000;
        opacity: 1;
      }

  body
    div(id="text-container")
      div(id="text") Hello there my friend

      div(id="peace") Hi there


  include ../dist/footer.incl

  script.
    var text = document.getElementById("text");
    TweenMax.to(text, 2, {opacity: 0, textShadow: "0 0 5px #000000"});
    document.getElementById("peace").style.content = "Anene";
