doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Story Telling

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body(class='coverflow')

    article

      section
        img(src='../images/wewantyou.png', class="img-minime")
        h1 Propaganda
        h3 Advertisement

      section
        img(src='../images/propaganda.jpg', class='img-biggieme')

      section(data-bespoke-backdrop='super special')
        h2(class='fast') Advertisement Effectiveness
        h3.bullet
        ul
          li Long-term
          li Short-term

      section
        img(src='../images/advertisement.jpg', class='img-biggieme')

      section
        h2(class='question') Short-term
        img(src='../images/impact.jpg', class='img-biggieme')

      section
        h2(class='question') Long-term
        h2  E.g. Posters / Youtube

      section
        h1(class='fact')  Motion and Emotion

      section
        h2(class='fact') Technologies
        ul
          li HTML5
          li Material Design
          li Greensock's GSAP / Velocity JS
          li MP4

    script(src='build/build.js')
